body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  text-align: center;
}

#img-div {
  border: solid black 2px;
}

#tribute-info{
  text-align: justify;
}

img {
  margin: 0 auto;
  display: block;
  width: auto;
  height: auto;
  max-width: 100%;
}